<!DOCTYPE html>
<html lang="ar">

<body>
 <!-- banner -->
    <section class="banner-1"></section>
    <!-- //banner -->
    <!-- about -->
    <section class="welcome py-5">
        <div class="container py-md-4 mt-md-3">
            <h3 class="heading-agileinfo">من نحن<span>نسعى لتقديم الأفضل</span></h3>
            <div class="row about-tp mt-md-5 pt-5">
                <div class="col-lg-6 welcome-left">
                    <h3 style="text-align:right">أهلاً وسهلاً بكم </h3>
                    <h4 style="text-align:right">
                        نحن ملتزمون بتقديم خدمات التدريس على أعلى مستوى من الجودة ، والجمع بين الطاقة والحماس  ، مع سنواتنا
                        من الخبرة.  الارتياح لدينا يأتي في تدريس أعداد كبيرة من الطلاب تحت اشراف المدرسين الذين لديهم خبرة
                        
                    </h4>
                    
                </div>
                <div class="col-lg-6 welcome-right">
                    <div class="welcome-right-top">
                        <img src="images/g1.jpg" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->
    <!-- prepare -->
    <div class="prepare_wthree py-5">
        <div class="container py-md-4 mt-md-3">
            <div class="row prepare_top">
                <div class="col-lg-7 prepare_top_right">
                    <h5 class="mb-3" style="text-align:right">لمحة مفيدة</h5>
                    <h4 style="text-align:right">نحضر الطلاب قبل الاختبرات</h4>
                    <p class="mt-3 mb-3" style="text-align:right">
                        ما هي بعض من أفضل الطرق للتعلم؟ هل أنت مهتم بإيجاد طرق لتعلم أشياء جديدة بشكل أسرع؟ هل تريد أن تصبح متعلم أكثر فعالية وكفاءة؟ إذا كنت مثل العديد من الطلاب ، فإن وقتك محدود ، لذلك من المهم أن تحصل على أكثر قيمة تعليمية من الوقت المتاح لديك.

                        سرعة التعلم ليست هي العامل الوحيد المهم ، ولكن. الإحتفاظ ، الاستدعاء ، والنقل مهمان أيضًا. بعد كل شيء ، ما الفائدة من تعلم معلومات جديدة إذا كنت لا تستطيع تذكرها أو الاستفادة منها بشكل فعال في وقت لاحق عندما تحتاج إليها؟ يجب أن يكون الطلاب قادرين على تذكر المعلومات التي يتعلمونها بدقة ، وأن يتذكروها في وقت لاحق ، ويستخدمونها بفعالية في مجموعة واسعة من المواقف.

                        إذن ما الذي يمكنك فعله لتصبح متعلمًا أفضل؟ إن أن تصبح طالبًا فعالًا وفعالًا ليس شيئًا يحدث بين عشية وضحاها ، لكن وضع بعض هذه النصائح في الممارسة اليومية يمكن أن يساعدك في الحصول على المزيد من وقت الدراسة.
                    </p>
                </div>
                <div class="col-lg-5 prepare_top_left">
                </div>

            </div>
        </div>
    </div>
    <!-- //prepare -->
    <!-- team -->
    <section class="mid_slider py-5">
        <div class="container py-md-4 mt-md-3">

            <h3 class="heading-agileinfo">أساتذتنا <span>أفضل أساتذة لهذا الشهر</span></h3>

            <div class="row inner_sec_info_w3ls_agile mt-md-5 pt-5">
                <div class="col-lg-3 col-md-6 col-sm-6 team_grid1">
                    <div class="team_grid_info">
                        <img src="~/Content/images/t1.jpg" alt=" " class="img-fluid" />
                        <h3>أ.أحمد الخطيب </h3>
                        <p>Teacher</p>
                        <div class="team_icons">
                            <ul>
                                <li><a href="https://web.facebook.com/aikahmed" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                              
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 team_grid1">
                    <div class="team_grid_info">
                        <img src="~/Content/images/t2.jpg" alt=" " class="img-fluid" />
                        <h3>أ.أسامة الفلاح </h3>
                        <p>Teacher</p>
                        <div class="team_icons">
                            <ul>
                                <li><a href="https://web.facebook.com/profile.php?id=100013413032000" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                                </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 team_grid1">
                    <div class="team_grid_info">
                        <img src="~/Content/images/t3.jpg" alt=" " class="img-fluid" />
                        <h3>أ . لجين الجبان</h3>
                        <p>Teacher</p>
                        <div class="team_icons">
                            <ul>
                                <li><a href="https://web.facebook.com/loujain.jb" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 team_grid1">
                    <div class="team_grid_info">
                        <img src="~/Content/images/t4.jpg" alt=" " class="img-fluid" />
                        <h3>أ. حمدي محمد</h3>
                        <p>Teacher</p>
                        <div class="team_icons">
                            <ul>
                                <li><a href="https://web.facebook.com/profile.php?id=100008407890938" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //team -->
   
</body>

</html>