@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!-- banner -->
<section class="banner-1"></section>
<!-- //banner -->
<!-- services -->
<section class="w3-agile-services py-5">
    <div class="container py-md-4 mt-md-3">
        <h3 class="heading-agileinfo">الخدمات <span>نسعى لتقديم الأفضل</span></h3>
        <div class="agileits-services mt-md-5 pt-5">
            <div class="row services-right-grids">
                <div class="col-md-4 services-right-grid">
                    <div class="se-top">
                        <div class="services-icon">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </div>
                        <div class="services-icon-info">
                            <h5>اللغات والعلوم</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 services-right-grid">
                    <div class="se-top">
                        <div class="services-icon">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </div>
                        <div class="services-icon-info">
                            <h5>تدريب الكوادر</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 services-right-grid">
                    <div class="se-top">
                        <div class="services-icon">
                            <i class="fa fa-flask" aria-hidden="true"></i>
                        </div>
                        <div class="services-icon-info">
                            <h5>الأنشطة الفيزيائية</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="agileits-services mt-md-5 pt-5">
            <div class="row services-right-grids">
                <div class="col-md-4 services-right-grid">
                    <div class="se-top">
                        <div class="services-icon">
                            <i class="fa fa-book" aria-hidden="true"></i>
                        </div>
                        <div class="services-icon-info">
                            <h5>برامج تقوية وترميم</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 services-right-grid">
                    <div class="se-top">
                        <div class="services-icon">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </div>
                        <div class="services-icon-info">
                            <h5>تنمية الشخصية</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 services-right-grid">
                    <div class="se-top">
                        <div class="services-icon">
                            <i class="fa fa-flask" aria-hidden="true"></i>
                        </div>
                        <div class="services-icon-info">
                            <h5>علوم الرياضيات</h5>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- //services -->